---
// Feedback dialog component
---

<div class="feedback-dialog">
  <button class="feedback-button" onclick="window.open('https://github.com/neur0map/manx/issues/new?template=feedback.md&title=Feedback', '_blank')">
    <span class="feedback-emoji">💬</span>
    <span>Feedback</span>
  </button>
</div>